.first_section,
.second_section,
.third_section,
.fourth_section {
	h1 {
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
	}
	img {
		object-fit: cover;
		width: 100%;
	}
	.price {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
	}
	.text {
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		color: #222222;
	}

	button::before {
		content: "";
		width: 100px;
		height: 100px;
		background-color: white;

		border-radius: 50%;
		box-shadow: 0px 2px 32px 6px #24242412;

		box-shadow: 0px 2px 4px 0px #0000001a;
	}
	.card {
		min-width: 232px !important;
	}

	button {
		--swiffy-slider-nav-light: #000;
		--swiffy-slider-nav-zoom: 0.3;
	}
	@media (max-width: 640px) {
		width: 100%;
		height: 500px;
		padding: 20px;
		border-radius: 25px;
		height: 520px;
		background-color: white;
	}
}

.persent {
	del {
		color: #8c8c8c;
	}
	span {
		color: #cc2e19;
	}
}

.slider-nav::before {
	position: absolute !important;
	content: "";
	padding: 4.5rem !important;
	right: -40px !important;
}

.more {
	width: 213px;
	height: 45px;
	border-radius: 150px;
	border: 1px solid #07a461;

	img {
		width: 15px;
		height: 15px;
	}
	p {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #05a160;
	}
}

.info {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.rings {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
