.btn1 {
	background-color: #07a461;
	width: 122px;
	height: 40px;
	border-radius: 15px;
	color: white;
}
.btn1:hover {
	color: white;
}

.input {
	border-radius: 15px;
	padding: 12px 15px;
	background-color: #f0f0f5;
	input {
		width: 553px;
		background: none;
		outline: none;
	}
}

.btn {
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	border-radius: 8px;
	border: 1px solid #dbdbe0;
	width: 42px;
	height: 30px;
	padding: 4px 12px;
}

.link {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}
.btn:hover {
	color: white;
	background-color: #07a461;
}

@media (max-width: 767px) {
	.input {
		width: 630px;
	}
	.navbar {
		width: 100%;
		display: flex;
		align-items: flex-start;
	}
	.category {
		margin-right: -100px !important;
	}
}
@media (max-width: 1280px) {
	.input input {
		width: 300px !important;
	}
}
@media (max-width: 1023px) {
	.input input {
		width: 100px !important;
	}
	.navbar button {
		width: 80px;
		font-size: 12px;
	}
	.logo {
		width: 80px;
	}
	.btn1,
	.input {
		height: 30px;
	}
	.btn1 img {
		width: 10px;
		height: 10px;
	}
}
